<header class="page-header">
    <% if (typeof pageTitle !=='undefined' ) { %>
        <h1>
            <%= pageTitle %>
        </h1>
        <% } %>
            <% if (typeof pageSubtitle !=='undefined' ) { %>
                <p>
                    <%= pageSubtitle %>
                </p>
                <% } %>
</header>